**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.github/
public/bundles/
var/
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
**/node_modules
